/* Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    overflow: auto;
}

main{
    position: absolute; /* Questo fa che lo scroll manuale si veda*/
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%; /* Questo fa che lo scroll funziona*/
    width: 100%;
}

.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

:root{
    --black-trans: rgba(0, 0, 0, 0.259);
    --dark-primary: #000000;
    --grey-dark: #141922;
    --grey-medium: #787878;
    --green-select: #adff2f;
    --white-dark: #d2d2d2;
    --white-normal: white;
    --grey-footer: #282828;
    --grey-time: #5a5a5a;
    --white-time: #c1c1c1;
    --grey-jhon: #808080;
    --grey-playlist: #a3a3a3;
    --grey-scrollbar: #c8c8c8;

}

/*Utility*/
.padd05{
    padding: 0.5rem;
}

.padd1{
    padding: 1rem;
}

.circle{
    border-radius: 50%;
}

.d_flex{
    display: flex;
}

.just_center{
    justify-content: center;
}

.white{
    color: var(--white-normal);
}

.green{
    background-color: var(--green-select);
}


/* #region debug */
/* Debug */
    .debug .upgrade{
        background-color: rgba(0, 0, 255, 0.33);
    }

    .debug .btn_upgrade{
        background-color: blanchedalmond;
        height: 50px;
        width: 150px;
    }

    .debug .sidebar{
        background-color: rgb(247, 114, 227);
    }

    .debug .reproduction{
        background-color: rgb(95, 247, 154);
    }

    .debug .line_menu{
        background-color: aqua;
    }

    .debug .recently{
        background-color: rgb(223, 250, 116);
    }

    .debug .creato{
        background-color: aqua;
    }

    .debug .artisti{
        background-color: rgb(223, 250, 116);
    }

    .debug .card{
        background-color: rgb(68, 67, 67);
    }
/* #endregion debug */


/* #region header */
.upgrade{
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    background-color: var(--black-trans);
}

.btn_upgrade> a{
    height: 25px;
    width: 300px;
    border: 1px solid var(--white-normal);
    font-size: small;
    text-decoration: none;
    color: var(--white-normal);
    border-radius: 25px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.logo{
    width: 155px;
} 

.sidebar{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    background-color: var(--dark-primary);
    color: var(--grey-medium);
}

.select{
    height: 2rem;
    width: 0.15rem;
}

.icon_text{
    line-height: 2rem;
}

.icon{
    width: 2.5rem;
    text-align: center;
    font-size: 1.25rem;
}

.playlist{
    padding-left: 1rem;
    list-style: none;
    line-height: 2rem;
}

.icon_plus{
    width: 2rem;
    height: 2rem;
    text-align: center;
    background-color: var(--grey-playlist);
    color: var(--dark-primary);
    font-size: x-large;
}

/* #endregion header*/

/* #region main */

/* section menu_content*/

main{
    background-color: var(--grey-dark);
}

section{
    padding: 1rem o;
}

.line_menu{
    display: flex;
    padding: 90px 15px 15px 15px; /*pdding=altezza di upgrade*/
    justify-content: center;
    width: calc(100% - 200px);
    align-items: center;
    position: fixed;
    background-color: var(--grey-dark);
    color: var(--grey-medium);
}

.line_menu> .row{
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

/* *****SECTIONS RECENTLY, CREATO E ARTISTI***** */
.cards_cont{
    width: calc(100% - 200px);
    /*padding-left: 210px;*/
    flex-wrap: wrap;
    display: flex;
    gap: 8px;
    color: var(--white-normal);
}

.card{
    height: 200px;
    width: 150px;
}

.card> img{
    width: 100%;
}

.recently{
    padding-top: 150px;
}
.artisti{
    padding-bottom: 100px; /*padding per sotrarre il footer*/
}

/* ***********   SCROLLBAR   ********** */

main::-webkit-scrollbar {
    width: 10px;
}
 
main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
main::-webkit-scrollbar-thumb {
  background-color: rgb(88, 88, 88);
  /*outline: 1px solid rgb(126, 125, 125);*/
  width: 5px;
  border-radius: 20px;
}

/* #endregion main*/


/* #region footer*/

.reproduction{
    background-color: var(--grey-footer);
    height: 90px;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.reproduction> .row{
    width: 100%;
    color: var(--grey-playlist);
}

.col-3{
    width: calc(100% / 12 * 3);
}

.img_reprod{
    height: 90px;
    width: 90px;
}

.img_reprod> img{
    width: 100%;
}

.time{
    width:100px;
    height: 5px;
    background-color: var(--grey-playlist);
    border-radius: 20px;
}
/* #endregion footer*/


/* Media */

/* breackpoint xs */

@media screen and (max-width:480px) {
    .sidebar{
        width: 45px;
    }

    .cards_cont, .line_menu{
        /*padding-left: 55px;*/
        width: calc(100% - 45px);
    }
}

/* breackpoint s */

@media screen and (min-width:481px) and (max-width:767px) { /* screenshot s coincide con 550 px */
    .cards_cont, .line_menu{
        /*padding-left: 210px;*/
        width: calc(100% - 200px);
    }
}

/* breackpoint md */

@media screen and (min-width:768px) and (max-width:1199px) {

    .cards_cont, .line_menu{
        /*padding-left: 210px;*/
        width: calc(100% - 200px);
    }

    .card{
        height: 125px;
        width: 125px;
    }
}

/* breackpoint lg */

@media screen and (min-width:1200px) { /*screenshot lg coincide con 1270px*/
    .cards_cont{
        gap: 10px;
    }
}