/* Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: auto;
}

main{
    position: absolute; /* Questo fa che lo scroll manuale si veda*/
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%; /* Questo fa che lo scroll funziona*/
    width: 100%;
}

.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

/*Utility*/
.padd05{
    padding: 0.5rem;
}

.padd1{
    padding: 1rem;
}


/* #region debug */
/* Debug */
    .debug .upgrade{
        background-color: rgba(0, 0, 255, 0.33);
    }

    .btn_upgrade{
        background-color: blanchedalmond;
        height: 50px;
        width: 150px;
    }

    .debug .sidebar{
        background-color: rgb(247, 114, 227);
    }

    .debug .reproduction{
        background-color: rgb(95, 247, 154);
    }

    .debug .line_menu{
        background-color: aqua;
    }

    .debug .recently{
        background-color: rgb(223, 250, 116);
    }

    .debug .creato{
        background-color: aqua;
    }

    .debug .artisti{
        background-color: rgb(223, 250, 116);
    }

    .debug .card{
        background-color: rgb(68, 67, 67);
    }
/* #endregion debug */


/* #region header */
.upgrade{
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

.sidebar{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
}

/* #endregion header*/

/* #region main */

/* section menu_content*/

.line_menu{
    display: flex;
    padding: 90px 15px 25px 15px; /*pdding=altezza di upgrade*/
    justify-content: center;
    width: 100%;
    align-items: center;
    position: fixed;
}

.line_menu> .row{
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

/* *****SECTIONS RECENTLY, CREATO E ARTISTI***** */

.cards_cont{
    padding-left: 210px;
} 

.cards_cont{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 8px;
}

.card{
    height: 150px;
    width: 150px;
}

.card> img{
    width: 100%;
}

.recently{
    padding-top: 150px;
}
.artisti{
    padding-bottom: 100px; /*padding per sotrarre il footer*/
}

/* ***********   SCROLLBAR   ********** */
main::-webkit-scrollbar {
    width: 1em;
}
 
main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
main::-webkit-scrollbar-thumb {
  background-color: rgb(249, 8, 8);
  outline: 1px solid rgb(144, 112, 112);
}

/* #endregion main*/


/* #region footer*/
.reproduction{
    height: 90px;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 2;
}
/* #endregion footer*/


/* Media */

/* breackpoint xs */

@media screen and (max-width:480px) {
    .sidebar{
        width: 45px;
    }

    .cards_cont, .line_menu{
        padding-left: 55px;
    }
}

/* breackpoint s */

@media screen and (min-width:481px) and (max-width:767px) { /* screenshot s coincide con 550 px */
    .cards_cont, .line_menu{
        padding-left: 210px;
    }
}

/* breackpoint md */

@media screen and (min-width:768px) and (max-width:1199px) {
    .cards_cont, .line_menu{
        padding-left: 210px;
    }

    .card{
        height: 125px;
        width: 125px;
    }
}

/* breackpoint lg */

@media screen and (min-width:1200px) { /*screenshot lg coincide con 1270px*/
    .cards_cont{
        gap: 10px;
    }
}