/* Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: auto;
    font-family: 'Montserrat';/*, sans-serif;
    /*font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;*/
}

main{
    position: absolute; /* Questo fa che lo scroll manuale si veda*/
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%; /* Questo fa che lo scroll funziona*/
    width: 100%;
}

.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

:root{
    --black-trans: rgba(0, 0, 0, 0.259);
    --dark-primary: #000000;
    --grey-dark: #141922;
    --grey-medium: #787878;
    --green-select: #adff2f;
    --white-dark: #d2d2d2;
    --white-normal: white;
    --grey-footer: #282828;
    --grey-time: #5a5a5a;
    --white-time: #c1c1c1;
    --grey-jhon: #808080;
    --grey-playlist: #a3a3a3;
    --grey-scrollbar: #c8c8c8;

}

/*Utility*/
.padd05{
    padding: 0.5rem;
}

.padd1{
    padding: 1rem;
}

.pd_top1{
    padding-top: 1rem;
}

.mg_auto{
    margin: auto;
}

.circle{
    border-radius: 50%;
}

.d_flex{
    display: flex;
}

.d_none{
    display: none;
}

.just_center{
    justify-content: center;
}

.just_end{
    justify-content: end;
}

.align_cnt{
    align-items: center;
}

.flx_direc_col{
    flex-direction: column;
}

.white{
    color: var(--white-normal);
}

.green{
    background-color: var(--green-select);
}

.font_s{
    font-size: small;
}

.font_xs{
    font-size: x-small;
}

.xs_bold{
    font-size: x-small;
    font-weight: 600;
}

.s_bold{
    font-size: small;
    font-weight: bold;
}

.font_65{
    font-size: 0.65rem;
}

.bold_65{
    font-size: 0.65rem;
    font-weight: bold;
}

.light_bold_65{
    font-size: 0.65rem;
    font-weight: 600;
}

.bold_75{
    font-size: 0.75rem;
    font-weight: 700;
}

.x_bold_75{
    font-size: 0.75rem;
    font-weight: 800;
}

.font_xxs{
    font-size: xx-small;
}

.font_xl{
    font-size: x-large;
}

/* #region debug */
/* Debug */
    .debug .upgrade{
        background-color: rgba(0, 0, 255, 0.33);
    }

    .debug .btn_upgrade{
        background-color: blanchedalmond;
        height: 50px;
        width: 150px;
    }

    .debug .sidebar{
        background-color: rgb(247, 114, 227);
    }

    .debug .reproduction{
        background-color: rgb(95, 247, 154);
    }

    .debug .line_menu{
        background-color: aqua;
    }

    .debug .recently{
        background-color: rgb(223, 250, 116);
    }

    .debug .creato{
        background-color: aqua;
    }

    .debug .artisti{
        background-color: rgb(223, 250, 116);
    }

    .debug .card{
        background-color: rgb(68, 67, 67);
    }
/* #endregion debug */


/* #region header */
.upgrade{
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--black-trans);
}

.btn_upgrade> a{
    border: 1px solid var(--white-normal);
    text-decoration: none;
    color: var(--white-normal);
    border-radius: 25px;
    padding: 0.5rem 1.75rem 0.5rem 1.75rem;
}

.sidebar{
    /*position: relative; ultimo*/
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    background-color: var(--dark-primary);
    color: var(--grey-medium);
    padding-bottom: 70px;
}

.prima_parte{
    height: 75%;
}

.logo{
    width: 155px;
} 

.logo_small{
    width: 80%;
    margin: auto;
}

.select{
    height: 2rem;
    width: 0.15rem;
}

.icon_text{
    line-height: 2rem;
}

.icon{
    width: 2.5rem;
    text-align: center;
    font-size: 1.25rem;
}

.playlist{
    padding-left: 1rem;
    list-style: none;
    line-height: 2rem;
}

.icon_plus{
    width: 2rem;
    height: 2rem;
    text-align: center;
    background-color: var(--grey-playlist);
    color: var(--dark-primary);
    font-size: x-large;
    margin-right: 0.5rem;
}

.utente{
    height: 25%;
    width: 100%;
    /*position: relative;
    top: 130px; ---- seconda opzione */
    /*position: absolute;
    bottom: 65px;
    width: 100%; --- questa era la prima opzione ma non spariva alla chiusura del browser*/ 
}

.installa> i, .jhon> i{
    padding: 0 0.5rem;
}

/* #endregion header*/

/* #region main */

/* section menu_content*/

main{
    background-color: var(--grey-dark);
}

section{
    padding: 1rem o;
}

.line_menu{
    display: flex;
    padding: 90px 15px 15px 15px; /*pdding=altezza di upgrade*/
    justify-content: center;
    width: calc(100% - 200px);
    align-items: center;
    position: fixed;
    background-color: var(--grey-dark);
    color: var(--grey-medium);
}

.line_menu> .row{
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    font-weight: bold;
}

/* *****SECTIONS RECENTLY, CREATO E ARTISTI***** */
.big_title{
    width: calc(100% - 200px);
}

.cards_cont{
    width: calc(100% - 200px);
    /*padding-left: 210px;*/
    flex-wrap: wrap;
    display: flex;
    gap: 8px;
    color: var(--white-normal);
}

.card{
    height: 200px;
    width: 150px;
    text-align: center;
}

.card> img{
    width: 100%;
}

.title{
    padding: 0.5rem 0.25rem;
    width: 100%;
    line-height: 0.75rem;
}

.card> h6, .big_title> h6{
    color: var(--grey-playlist);
}

.big_title> h6{
    padding: 0.5rem 0;
}

.recently{
    padding-top: 150px;
}

.artisti{
    padding-bottom: 100px; /*padding per sotrarre il footer*/
}

/* ***********   SCROLLBAR   ********** */

main::-webkit-scrollbar {
    width: 10px;
}
 
main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
main::-webkit-scrollbar-thumb {
  background-color: rgb(88, 88, 88);
  /*outline: 1px solid rgb(126, 125, 125);*/
  width: 5px;
  border-radius: 20px;
}

/* #endregion main*/


/* #region footer*/

.reproduction{
    background-color: var(--grey-footer);
    height: 70px;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.reproduction> .row{
    width: 100%;
    color: var(--grey-playlist);
}

.sinister_brano{
    padding-left: 0.5rem;
}

.bar_reproduction> div,
.right> div,
.cuore_folder> div{
    padding: 0 0.5rem;
}

.col-4{
    width: calc(100% / 12 * 4);
}

.img_reprod{
    height: 35px;
    width: 35px;
}

.img_reprod> img{
    width: 100%;
}

.bar{
    width:350px;
    height: 3px;
    background-color: var(--grey-playlist);
    border-radius: 20px;
    margin: 0 1rem;
}

.bar.vol{
    width:100px;
    margin: 0;
}
/* #endregion footer*/


/* Media */

/* breackpoint xs */

@media screen and (max-width:480px) {
    .sidebar{
        width: 45px;
    }

    .d_none_xs{
        display: none;
    } 

    /*.installa> i, .jhon> i{
        position: relative;
        top: 350px;
        width: 100%; evaluar
    }*/

    .text_center_xs{
        text-align: center;
    }

    .installa> i{
        font-size: 0.75rem;
        padding: 0.5rem 0;
    }
    .jhon> i{
        font-size: 1.5rem;
        padding: 0;
    }

    .d_block_xs{
        display: block;
    }

    .logo{
        width: 45px;
        padding: 0.5rem;
    }

    .cards_cont, .line_menu{
        /*padding-left: 55px;*/
        width: calc(100% - 45px);
    }

    .cuore_folder{
        display: block;
    }

    
}

/* breackpoint s */

@media screen and (min-width:481px) and (max-width:767px) { /* screenshot s coincide con 550 px */
    .cards_cont, .line_menu{
        /*padding-left: 210px;*/
        width: calc(100% - 200px);
    }

    .cuore_folder{
        display: block;
    }
}

/* breackpoint md */

@media screen and (min-width:768px) and (max-width:1199px) {

    .cards_cont, .line_menu{
        /*padding-left: 210px;*/
        width: calc(100% - 200px);
    }

    .card{
        height: 125px;
        width: 125px;
    }
}

/* breackpoint lg */

@media screen and (min-width:1200px) { /*screenshot lg coincide con 1270px*/
    .cards_cont{
        gap: 10px;
    }
}